h2{
    color: rgb(0, 142, 224);
    font-size: 14px;
    width:50;
    max-width: 50px;
}
img {
    width: 50;
}
div {
    color: rgb(60, 68, 82);
    background: rgb(255, 255, 255);
    font-weight: bold;
}
p {
    width:50;
    max-width: 50px;
}

.slds-text-link{
    font-weight: bold;
    
}
.slds-media__body {
    background: darkgrey;
    width: 100px;
    height: 100%;
    max-width: 100px;
    max-height: 200px;
}

a{
    height: 200px;
    max-height: 150px;
    margin-left: 0px;
}